{% extends "base.html" %}
{% load static %}
{% block content %}
       <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" id="login-form" method="post" >
                    <div class="login100-form-title p-b-30 row">
                        <div class="col-12">
						    <img src="{% static 'user_views/images/flex-logo.svg' %}" style="height:100px;"></img>
                        </div>
                        <div class="col-12 p-t-10">
						    <img src="{{ oauth_logo }}" style="height:50px";></img>
                        </div>

					</div>
                    <div class="login100-form-title p-b-30">
                        <h2>Reset password requested</h2>
                    </div>

                    <div class="text-center">
						<span class="txt1">
							An email has been sent to your account. Check your inbox for instructions.
						</span>
                    </div>
                    <div class="text-center p-t-20">
                        <span class="txt1">
							You can go back to the
						</span>
						<a class="txt2" href="{% url 'login' %}">
							login page
						</a>
					</div>
                </form>
            </div>
        </div>
	</div>
	<div id="dropDownSelect1"></div>
{% endblock %}
