{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" id="login-form" method="post" >
					<div class="login100-form-title p-b-30 row">
                        <div class="col-12">
						    <img src="{% static 'user_views/images/flex-logo.svg' %}" style="height:100px;"></img>
                        </div>
                        <div class="col-12 p-t-10">
						    <img src="{{ oauth_logo }}" style="height:50px";></img>
                        </div>

					</div>
                    <div class="login100-form-title p-b-30">
                        <h2>Change Password</h2>
                    </div>
                    <div class="text-center p-t-20 p-b-25">
						<span class="txt1" style="color:red;">
							{{ form.non_field_errors }}
						</span>
					</div>

                    <span style="color:red">{{ form.old_password.errors }}</span>

					<div class="wrap-input100 validate-input" data-validate="Enter the old password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
                        <input class="input100" type="password" name="{{ form.old_password.html_name }}">
                        <span class="focus-input100" data-placeholder="Old password"></span>

					</div>

                    <span style="color:red">{{ form.new_password1.errors }}</span>
					<div class="wrap-input100 validate-input" data-validate="Enter the new password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
                        <input class="input100" type="password" name="{{ form.new_password1.html_name }}">
                        <span class="focus-input100" data-placeholder="New password"></span>

					</div>

                    <span style="color:red">{{ form.new_password2.errors }}</span>

					<div class="wrap-input100 validate-input" data-validate="Enter new password confirmation">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
                        <input class="input100" type="password" name="{{ form.new_password2.html_name }}">
                        <span class="focus-input100" data-placeholder="New password confirmation"></span>

					</div>

                    {% csrf_token %}
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" onclick="$('#login-form').submit();">
								Change password
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="dropDownSelect1"></div>
{% endblock %}