{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" id="login-form" method="post" >
                    <div class="login100-form-title p-b-30 row">
                        <div class="col-12">
						    <img src="{% static 'user_views/images/flex-logo.svg' %}" style="height:100px;"></img>
                        </div>
                        <div class="col-12 p-t-10">
						    <img src="{{ oauth_logo }}" style="height:50px";></img>
                        </div>

					</div>
                    <div class="login100-form-title p-b-30">
                        <h2>Sign Up</h2>
                    </div>

					<div class="text-center p-t-20 p-b-25">
						<span class="txt1" style="color:red;">
							{{ form.non_field_errors }}
						</span>
					</div>

                    <span style="color:red">{{ form.username.errors }}</span>
					<div class="wrap-input100">
                        <span class="btn-show-pass">
							<i class="zmdi zmdi-account"></i>
						</span>

						<input class="input100" type="text" name="{{ form.username.name }}" value="{{ form.username.value|default:"" }}">
						<span class="focus-input100" data-placeholder="Username"></span>
					</div>

                    <span style="color:red">{{ form.first_name.errors }}</span>
                    <div class="wrap-input100">
                        <span class="btn-show-pass">
							<i class="zmdi zmdi-account"></i>
						</span>
						<input class="input100" type="text" name="{{ form.first_name.name }}" value="{{ form.first_name.value|default:"" }}">
						<span class="focus-input100" data-placeholder="First name"></span>
					</div>

                    <span style="color:red">{{ form.last_name.errors }}</span>
                    <div class="wrap-input100">
                        <span class="btn-show-pass">
							<i class="zmdi zmdi-account"></i>
						</span>
						<input class="input100" type="text" name="{{ form.last_name.name }}" value="{{ form.last_name.value|default:"" }}">
						<span class="focus-input100" data-placeholder="Last name"></span>
					</div>

                    <span style="color:red">{{ form.email.errors }}</span>
					<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
						<input class="input100" type="text" name="{{ form.email.name }}" value="{{ form.email.value|default:"" }}">
						<span class="focus-input100" data-placeholder="Email"></span>
					</div>


                    <span style="color:red">{{ form.password.errors }}</span>
					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
                        <input class="input100" type="password" name="{{ form.password.name }}">
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>
                    <span style="color:red">{{ form.password_confirm.errors }}</span>
                    <div class="wrap-input100 validate-input" data-validate="Password Confirm">
						<span class="btn-show-pass">
							<i class="zmdi zmdi-eye"></i>
						</span>
                        <input class="input100" type="password" name="{{ form.password_confirm.name }}">
						<span class="focus-input100" data-placeholder="Password"></span>
					</div>
                    {% csrf_token %}
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn" onclick="$('#login-form').submit();">
								Sign Up
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div id="dropDownSelect1"></div>
{% endblock %}
